.bm-input-wrapper {
  border: 2px solid $white;
  border-radius: 5px;
  overflow: hidden;
  background: $white;
  position: relative;
  .bm-input {
    background: $white;
    padding: 12px;
    outline: none;
    border: none;
    width: 100%;
    border-radius: 5px;
  }
  .bm-input-helper {
    color: $white;
    padding: 2px;
    font-size: 10px;
    display: none;
    font-style: italic;
  }
  &.bm-input-wrapper-error {
    background-color: $secondary;
    border-color: $secondary;
    .bm-input-helper {
      display: block;
    }
    .bm-input {
      padding-right: 50px;
    }
    &::after {
      content: "!";
      width: 20px;
      height: 20px;
      border-radius: 50%;
      background-color: $secondary;
      color: $white;
      position: absolute;
      right: 10px;
      top: 9px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 14px;
      font-family: serif;
    }
  }
}
